body {
    font-family: 'Lato', sans-serif;
    background-image: url(gfpimg/geometric-leaves.png);
    background-repeat: repeat;
}
.container {
    background-color: #FFFFFC;
}

#description-card {
    border: 1px solid #aeaeae;
    border-radius: .25rem;
}

#total-cart {
    display: flex;
    justify-content: flex-end;
}

#description-card-page {
    max-height: 8rem;
    overflow: auto;
}

.formdelivery{
    display: flex;
    justify-content: flex-end;
}

#description-card::-webkit-scrollbar,#description-card-page::-webkit-scrollbar {
    width: 8px;   
    height: 8px;    
}
#description-card::-webkit-scrollbar-thumb,#description-card-page::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
#description-card::-webkit-scrollbar-thumb:hover,#description-card-page::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
#description-card::-webkit-scrollbar-track,#description-card-page::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}
#description-card::-webkit-scrollbar-thumb:active,#description-card-page::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
#description-card::-webkit-scrollbar-track:hover,#description-card-page::-webkit-scrollbar-track:hover,
#description-card::-webkit-scrollbar-track:active,#description-card-page::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
a.disabled, button.disabled {
    pointer-events: none;
    cursor: default;
  }
.modal-header {
    background-color: black;
    color: white;
}

.modal-content .close {
    color: white;
}
.card {
    border: none;
}

.modaltotal{
    display: flex;
    justify-content: flex-start;
}
.jumbotron .display-4 {
    font-size: 5rem;
    font-weight: 900;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

#td-products .d-flex{

}

.jumbotron .lead {
    font-weight: 400;
    font-size: 2rem;
    margin-top: -18px;
}

.jumbotronp{
    font-size: 2rem;
}
#numberCart {
    font-size: 0.8rem;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    width: 20px;
    text-align: center;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #76c372;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.footer {
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
}

.header {
    background-color: #f8c594;
    color: black;
    font-size: 1.5rem;
    -webkit-box-shadow: -1px 4px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 15px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 15px -4px rgba(0,0,0,0.75);
}

.dropdown-menu a:active {
    background-color: #76c372;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.fa .fa-facebook {
    color: #ffffff;
}

.firsth {
    margin-top: 6rem;
}

.delete-product {
    cursor: pointer;
    position: absolute;
    left: 0;
}

#td-products .d-flex b{
    font-size: 1.2rem;
}

#td-products .lessProduct {
font-size: 2rem;
margin-top: -0.5rem;
margin-right: 0.6rem;
justify-content: flex-start;
align-items: center;
}

#td-products .moreProduct {
    font-size: 1.5rem;
    margin-top: -0.2rem;
    margin-left: 0.4rem;
    justify-content: flex-start;
    align-items: center;
    }

div .card-body .d-flex{
        font-size: 2rem;
    }

div .card-body .lessProduct {
    cursor: pointer;
    font-size: 3rem;
    position: relative;
    top: -0.7rem;
    right: 0.7rem;
}

div .card-body .moreProduct {
    cursor: pointer;
    font-size: 2rem;
    position: relative;
    left: 0.5rem;
    top: 0rem;
}

.card-body {
    margin-bottom: 1rem;
}

.fa-shopping-cart {
color: black;
text-align: end;
font-size: 2rem;
}

.add-cart {
    color: #ffffff !important;
}

.modal-body {
    max-height: 20rem;
    overflow: auto;
}

.div-buttons {
    display: flex;
    justify-content: flex-end;
}

.delete-table {
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
}


@media (min-width: 769px) {

    .img-td {
        width: 100%;
    }

    .img-td-home {
        width: 100%;
    }

    .paypal-buttons {
        width: 19rem !important;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cart {
        display: flex;
        align-items: center;
    }

    .jumbotron {
        background-image: url(gfpimg/jumbo-xl-bg.jpg);
        background-size: 100%;
        background-position: center;
    }
}

@media (max-width:350px) {

    .display-4 {
        font-size: 2.5rem;
    }

    .cart-page {
        flex-direction: column;
        align-items: center;
    }

    .delete-product {
        left: 1rem;
    }

    .div-buttons {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: unset;
    }

    #whatsapp {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
    }

    .jumbotron {
        background-image: url(gfpimg/jumbo-bg-xs.jpg);
        background-size: 100%;
        background-position: center;
    }

    .fa-shopping-cart {
        color: white;
        justify-content: end;
    }
}

@media (max-width: 768px) {

    .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    .jumbotron {
        background-image: url(gfpimg/jumbo-bg-md.jpg);
        background-size: 100%;
        background-position: center;
    }
    
    #numberCart {
        font-size: 1rem;
        font-weight: 900;
        color: white;
        background-color: black;
        border-radius: 50px;
        padding: 0.3rem;
        margin-left: 0.2rem;
        margin-right: 1rem;
        text-align: center;
    }

    .fa-shopping-cart {
        margin-top: 1rem;
        }

    .img-td {
        width: 100%
    }

    .paypal-buttons {
        margin-top: 1rem;
    }

    .navbar-toggler {
        position: absolute;
        top: 0;
        left: 0;
    }

    .img-td-home {
        width: 100%;
    }

    .cart {
        position: absolute;
        top: 0;
        right: 0;
        list-style: none;
    }

    .jumbotron .display-4 {
        font-size: 2.5rem;
    }

    .jumbotron .jumboicon {
        height: 100;
        width: 100;
    }

    .jumbotron .lead {
        font-size: 2rem;
    }
}
    @media (min-width: 1000px) {
        .jumbotron {
            background-image: url(gfpimg/jumbo-xl-bg1.jpg);
            background-size: 100%;
        background-position: center;
    }
}