body {
    font-family: 'Lato', sans-serif;
    background-image: url(gfpimg/geometric-leaves.png);
    background-repeat: repeat;
}
.container {
    background-color: #FFFFFC;
}
.products-carrousel .carousel-item{
    height: 22rem;
}
#cart-mobile{
    display:none;
}
#img-carrouse-mobile{
    display: none;
}
#img-carrouse-mobile-2{
    display: none;
}
#description-card {
    border: 1px solid #aeaeae;
    border-radius: .25rem;
}
a {
    color: #76c372;
}
a:hover {
    color: #555;
}
.carousel-item1{
    background-image: url(gfpimg/bg-xl-gfp-min.jpg);
    background-size: cover;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin: auto;
}
.pnuestra{
background-color: white;
font-size: 1rem;
}

.jumboiconp {
    height: 150px;
width: 150px;
}

.pfp {
    line-height: 1.5rem;
}

.carouselicon{
height: 150px;
width: 150px;
}

#total-cart {
    display: flex;
    justify-content: flex-end;
}

#description-card-page {
    max-height: 8rem;
    overflow: auto;
}

.formdelivery{
    display: flex;
    justify-content: flex-end;
}

#description-card::-webkit-scrollbar,#description-card-page::-webkit-scrollbar {
    width: 8px;   
    height: 8px;    
}
#description-card::-webkit-scrollbar-thumb,#description-card-page::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
#description-card::-webkit-scrollbar-thumb:hover,#description-card-page::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

#description-card::-webkit-scrollbar-track,#description-card-page::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}
#description-card::-webkit-scrollbar-thumb:active,#description-card-page::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
#description-card::-webkit-scrollbar-track:hover,#description-card-page::-webkit-scrollbar-track:hover,
#description-card::-webkit-scrollbar-track:active,#description-card-page::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
a.disabled, button.disabled {
    pointer-events: none;
    cursor: default;
  }
.modal-header {
    background-color: black;
    color: white;
}

.modal-content .close {
    color: white;
}
.card {
    border: none;
}

.modaltotal{
    display: flex;
    justify-content: flex-start;
}
.jumbotron .display-4 {
    font-size: 5rem;
    font-weight: 900;
    margin: 0;
}

.carousel-caption .display-4 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.carousel-caption .lead {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: -18px;
    color: black;
    padding-left: 50%;
    margin-top: 1rem;
    word-break: break-word;
}

.carouselp{
    font-size: 2rem;
    color: black;
}

.carousel-control-next-icon{
    height: 40px;
    width: 40px;
}

.card-img-top-historia{
    max-width: 30%;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1000px;
  }

.carousel-control-prev-icon{
    height: 40px;
    width: 40px;
}
.jumbotronp{
    font-size: 2rem;
    color: white;
}
#numberCart, #numberCartMobile {
    font-size: 0.8rem;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    width: 20px;
    text-align: center;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #76c372;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.footer {
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
}

.nav-tabs {
    font-size: 1.5rem;
}


.header {
    background-color:#fffcfc;
    color: black;
    font-size: 1.5rem;
    -webkit-box-shadow: -1px 4px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 15px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 15px -4px rgba(0,0,0,0.75);
}

.dropdown-menu a:active {
    background-color: #76c372;
}

.fa .fa-facebook {
    color: #ffffff;
}

.firsth {
    margin-top: 6rem;
}

.delete-product {
    cursor: pointer;
    float: right;
    margin-left: auto;
}

#td-products .d-flex b{
    font-size: 1.2rem;
}

#td-products .lessProduct {
font-size: 2rem;
margin-top: -0.5rem;
margin-right: 0.6rem;
justify-content: flex-start;
align-items: center;
}

#td-products .moreProduct {
    font-size: 1.5rem;
    margin-top: -0.2rem;
    margin-left: 0.4rem;
    justify-content: flex-start;
    align-items: center;
    }

div .card-body .d-flex{
        font-size: 2rem;
    }

div .card-body .lessProduct {
    cursor: pointer;
    font-size: 3rem;
    position: relative;
    top: -0.7rem;
    right: 0.7rem;
}

div .card-body .moreProduct {
    cursor: pointer;
    font-size: 2rem;
    position: relative;
    left: 0.5rem;
    top: 0rem;
}

.card-body {
    margin-bottom: 1rem;
}

.fa-shopping-cart {
color: black;
text-align: end;
font-size: 2rem;
}

.add-cart {
    color: #ffffff !important;
}

.modal-body {
    max-height: 20rem;
    overflow: auto;
}

.div-buttons {
    display: flex;
    justify-content: flex-end;
}

.delete-table {
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
}

@media (max-width:1550px){
    .carousel-caption .display-4 {
        font-size: 2rem;
    }
    .carousel-caption p{
        font-size: 1.25rem;
    }
    .carousel-caption .lead {
        font-size: 1.25rem;
    }
}
@media (max-width:1175px) and (min-width:980px){
    #img-carrouse-web{
        height: 20rem;
    }
}
@media (max-width:1280px){
    .cart {
        margin-left: 5rem;
    }
    .nav-item{
        width: 10rem;
    }
    .navbar-nav{
        width: 45rem!important;
    }
   
    .carousel-caption .display-4 {
        margin-bottom: 1rem;
    }
    .carousel-caption {
        top: -3rem;
    }
    .carousel-caption-2{
        top: -2rem!important;
    }
  
}
li{
    list-style:none;
}
@media (min-width: 769px) {
   
    .table-responsive{
        display: block;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    #product-card{
        display: none;
    }
    .fa-shopping-cart {
        font-size: 25px!important;
    }
    .jumbotron .jumboicon {
        height: 150px;
        width: 150px;
    }

    .img-td {
        width: 100%;
    }

    .img-td-home {
        width: 100%;
    }
    
    section .nh{
background-color: red;
    }

    .paypal-buttons {
        width: 19rem !important;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cart {
        display: flex;
        align-items: center;
    }

    .preguntas {
        background-image: url(gfpimg/bg-xl-gfp-6-min.jpg);
      background-size: cover;
    }

    .nuestra-historia {
        background-image: url(gfpimg/bg-xl-gfp-7-min.jpg);
      background-size: cover;
    }

    .jumbotron{
        background-image: url(gfpimg/bg-xl-gfp-4-min.jpg);
      background-size: cover;
    }

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}
.nuestra-historia {
    background-image: url(gfpimg/bg-xl-gfp-7-min.jpg);
  background-size: cover;
}
.preguntas {
    background-image: url(gfpimg/bg-xl-gfp-6-min.jpg);
  background-size: cover;
}
}

@media (max-width:350px) {

    .display-4 {
        font-size: 2.5rem;
    }
    

    .cart-page {
        flex-direction: column;
        align-items: center;
    }

    .delete-product {
        left: 1rem;
    }

    .div-buttons {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: unset;
    }

    #whatsapp {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
    }

    .jumbotron {
        background-image: url(gfpimg/bg-xl-gfp-4-min.jpg);
     background-size: cover;
    }

    .fa-shopping-cart {
        color: black;
        justify-content: end;
    }
    .another-headerpic{
        display: none;
    } 
}
@media (min-width:768){
    .col-desktop{
        display: block;
    }
    .col-mobile{
        display: none;
    }
}
@media (max-width:768px){
    .col-desktop{
        display: none;
    }
    .col-mobile{
        display: block;
    }
    #img-carrouse-mobile{
        display: block;
        height: 15rem;
        width: 100%!important;
    }
    #img-carrouse-web{
        display: none!important;
    }
    .fa-shopping-cart{
        top: 5px;
        position: relative;
    }
    .carouselp {
        font-size: 0.7rem;
    }
    .carousel-caption .lead {
        font-size: 0.8rem;
        margin: 4px;
    }
    .another-headerpic{
        display: none;
    } 
}
@media (max-width: 980px) {
    .carousel-caption p {
        font-size: 1rem;
    }
    .carousel-caption {
        top: -3rem;
    }
    .carouselicon {
        display: none;
        height: 75px!important;
        width: 4rem;
    }
    #lane-separator{
        margin: 0!important;
    }
   
    #display-img-h1{
        font-size: 1.25rem;
    }
    #product-card{
        display: block;
    }
    .carousel-caption-2 {
        top: 1rem!important;
    }
    #display-img-h1 {
        margin-top: 4rem!important;
    }
    .table-responsive{
        display: none;
    }
    .carouselp {
        font-size: 0.7rem;
    }
    .btn-success {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
    }
    .carousel-caption .display-4 {
        font-size: 1.5rem;
        margin: 0!important;
    }
    .carousel-caption .lead {
        font-size: 1rem;
        margin: 0;
    }
    .carousel-caption{
        margin: 0!important;
        padding: 0;
    }
    .navbar-brand {
        width: 24%;
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    .cart {
        margin-left: 0rem;
    }

    .jumbotron {
        background-image: url(gfpimg/bg-xl-gfp-4-min.jpg);
        background-size: cover;
    }
    .preguntas {
        background-image: url(gfpimg/bg-xl-gfp-6-min.jpg);
      background-size: cover;
      color: white;
    }

    .nuestra-historia {
        background-image: url(gfpimg/bg-xl-gfp-7-min.jpg);
      background-size: cover;
      color: white;
    }
    
    #numberCart, #numberCartMobile {
        font-size: 1rem;
        font-weight: 900;
        color: white;
        background-color: black;
        border-radius: 50px;
        padding: 0.3rem;
        margin-left: 0.2rem;
        margin-right: 1rem;
        text-align: center;
    }

    .fa-shopping-cart {
        margin-top: 1rem;
        }

    .img-td {
        width: 100%
    }

    .paypal-buttons {
        margin-top: 1rem;
    }

    .navbar-toggler {
        position: absolute;
        top: 0;
        left: 0;
    }

    .img-td-home {
        width: 25%;
    }
   
    .cart {
        position: absolute;
        top: 0rem;
        right: 0rem;
        list-style: none;
    }

    .jumbotron .display-4 {
        font-size: 2.5rem;
    }

    .jumbotron .jumboicon {
        height: 50px;
        width: 50px;
    }

    .jumbotron .lead {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
    
    .jumbotron p {
        margin-top: -10px;
        font-size: 1rem;
    }
    .nuestra-historia {
        background-image: url(gfpimg/bg-xl-gfp-7-min.jpg);
      background-size: cover;
    }
    .preguntas {
        background-image: url(gfpimg/bg-xl-gfp-6-min.jpg);
      background-size: cover;
    }
}
@media (max-width:600px){
    .carousel-caption p {
        font-size: 1rem;
        padding-left: 31%;
        margin-bottom: 7px;
      
    }
    .carousel-caption .display-4 {
        font-size: 1rem;
        margin: 1rem;
    }
    
    .carousel-control-prev-icon {
        height: 25px;
        width: 40px;
    }
    .carousel-control-next-icon {
        height: 25px;
        width: 40px;
    }
    #display-img-h1 {
        font-size: 1.5rem;
    }
    #img-carrouse-mobile{
        height: 14rem;
        width: 39rem!important;
    }
    .carousel-caption .lead {
        font-size: 1rem;
        margin: 8px 0;
        padding-left: 40%;
    }
    .carouselicon {
        height: 75px!important;
        width: 4rem;
    }
    #display-img-h1 {
        margin-top: 4.2rem!important;
    }
    .btn-success {
        font-size: .8rem!important;
    }
}
@media (max-width:430px){
    .carousel-caption .display-4 {
        font-size: 1rem;
        margin: 1rem;
    }
   
    .carousel-control-prev-icon {
        height: 25px;
        width: 40px;
    }
    .carousel-control-next-icon {
        height: 25px;
        width: 40px;
    }
    #display-img-h1 {
        font-size: 1rem;
    }
    #img-carrouse-mobile{
        height: 14rem;
        width: 39rem!important;
    }
    .carousel-caption .lead {
        font-size: .6rem;
        margin: 8px 0;
        padding-left: 40%;
    }
    .carouselicon {
        height: 75px!important;
        width: 4rem;
    }
    #display-img-h1 {
        margin-top: 4.2rem!important;
    }
    .btn-success {
        font-size: 1.2rem!important;
    }
    .add-cart{
        font-size: 1.1rem!important;
        padding: .375rem .75rem!important;
    }
}
    @media (min-width: 1000px) {
        .jumbotron {
            background-image: url(gfpimg/bg-xl-gfp-4-min.jpg);
            background-size: cover;
    }
    .modal-dialog {
        max-width: 614px;
    }
    .nuestra-historia {
        background-image: url(gfpimg/bg-xl-gfp-7-min.jpg);
      background-size: cover;
    }
    .preguntas {
        background-image: url(gfpimg/bg-xl-gfp-6-min.jpg);
      background-size: cover;
    }
}
@media (max-width:936px){
    .modal-dialog span{
        font-size: 2rem;
    }
    .modal-dialog .delete-product{
        font-size: 1.5rem;
    }
    .modal-dialog p{
        font-size: 1.5rem;
        position: relative;
        top: 0.4rem;
        margin: 0px 0.5rem 1rem;
    }
    .nav-item{
        width: 10rem;
    }
    .navbar-nav{
        width: 34rem!important;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
    .btn-success {
        padding: 0rem 0.5rem;
        font-size: 1rem;
    }
}
@media (max-width:1366px) and (min-width:1180px){
    .item-image{
        top: -3rem;
    }
}
@media (max-width:930px) and (min-width:768px){
    .cart {
       top: 2rem;
       right: 5rem;
   }
}
@media (max-width:1260px) and (min-width:980px){
    .p-history{
        font-size: .75rem;
    }
}
@media (max-width: 1100px){
    .jumboiconp {
        height: 100px;
        width: 100px;
    }
    .pnuestra {
        font-size: .8rem;
    }
}
.container-image {
    position: relative;
    top: 2rem;
    margin-left: auto;
    display: flex;
}
.container-image img{
    margin-right: 5px;
}
.more_info {
    border-bottom: 1px dotted;
    position: relative;
  }
.more-info .title {
    position: absolute;
    top: 35px;
    background: white;
    padding: 4px;
    left: 0rem;
    white-space: nowrap;
    border: 1px solid black;
  }
@media (max-width:990px){
    #cart-web{
        display: none;
    }
 
    #cart-mobile{
        display:block;
    }
    .jumbotron .display-4 {
        text-align: left;
    }
}
@media (max-width:768px){
    .more-info .title {
        position: absolute;
        top: 35px;
        background: white;
        padding: 4px;
        left: 0rem;
        white-space: nowrap;
        border: 1px solid black;
      }
}
@media (max-width:630px){
  
    #img-carrouse-mobile{
        display: none;
        /* height: 15rem;
        width: 40rem!important; */
    } 
    #img-carrouse-mobile-2{
display: block;
    }
}

@media (max-width:450px){
    .carousel-caption p {
        font-size: .6rem;
        padding-left: 31%;
        margin-bottom: 7px;
      
    }
}
.another-headerpic{
    width: 4.5rem;
    margin-left: auto;
    min-height: 6rem;
}


