nav {
    background-color: #BBD646;
    font-size: 1.5rem;
}

.navbar-nav {
    text-align: center;
}

.firsth{
    margin-top: 6rem;
}

.delete-product{
    cursor: pointer;
    position: absolute;
    left: 0;
}
.lessProduct{
    cursor: pointer;
    font-size: 2rem;
    position: relative;
    top: -1rem;
    right: 0.2rem;
}
.moreProduct{
    cursor: pointer;
    position: relative;
    left: 0.3rem;
    top: 0.2rem;
}
.card-body {
    margin-bottom: 1rem;
}

.fa-shopping-cart {
color: white;
text-align: end;
}

span{
    font-size: 0.8rem;
}

.add-cart {
    color: #ffffff !important;
}
.modal-body{
    max-height: 20rem;
    overflow: auto;
}
.div-buttons{
    display: flex;
}
.delete-table{
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
}


@media (min-width: 768px) {
    .img-td{
        width: 40%
    }
    .img-td-home{
        width: 100%;
    }
    .paypal-buttons{
        width: 19rem!important;
    }
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .cart {
        display: flex;
        align-items: center;
    }
}
@media (max-width:350px){
  
    .display-4{
        font-size: 2.5rem;
    }
    .cart-page{
     flex-direction: column;
     align-items: center;
    }
    .delete-product {
        left: 1rem;
    }
    .div-buttons{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: unset;
    }
    #whatsapp{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    .img-td{
        width: 100%
    }
    .paypal-buttons{
        margin-top:1rem ;
    }
    .navbar-toggler {
        position: absolute;
        top: 0;
        left: 0;
    }
}